$primary-color1:  hsl(12, 88%, 59%);

$primary-color2: hsl(228, 39%, 23%);

$bg-color-nav: hsl(227, 12%, 61%);

$text-color: hsl(233, 12%, 13%);

$button-bg: hsl(12, 88%, 59%);

$card-bg: hsl(13, 100%, 96%);

$card-bg2: hsl(0, 0%, 98%);

@mixin animation {
    transition: ease-in-out .5s .1s;
    
}

@mixin buttons {
    display: block;
    margin: 2rem auto;
    width: 50%;
    background: $button-bg;
    text-align: center;
    padding: .7rem 2.8rem;
    border-radius: 500px;
    color: #fff;
    &:hover{
        opacity: .7;
    }
}

// mixing for media queries

@mixin media-md {
    @media screen and (min-width:768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width:1000px) {
        @content;
    }
}


@mixin media-xl {
    @media screen and (min-width:1300px) {
        @content;
    }
}
