@import 'config';

footer{
    background: $text-color;
    padding: 5vw .2rem;
    text-align: center;
    color: #fff;
    form{
        padding: 2vw 0;
        input[type='email']{
            padding: .7rem 2rem;
            border-radius: 500px;
            border: none;
            outline: none;
            color: $primary-color2;
            width: 70%;
        }
        input[type='submit']{
            padding: .7rem 1.2rem;
            border-radius: 500px;
            border: none;
            outline: none;
            color: #fff;
            background: $primary-color1;
            &:hover{
                opacity: .7;
            }
        }
    }
    .listing{
        display: flex;
        justify-content: space-around;
        margin: 2rem 0;
        ul{
            display: flex;
            flex-direction: column;
            li{
                margin: .5rem 0;
                a{
                    color: #fff;
                    &:hover{
                        color: $primary-color1;
                    }
                }
            }
            
        }
    }
    .socials__heading{
        text-align: center;
        .socials{
            padding: 1rem 0;
            img{
                @include animation();
                margin: .7rem;
                width: 1.6rem;
                cursor: pointer;
                &:hover{
                    transform: scale(1.2);
                }
            }

        }
    }
    p{
        margin: .7rem;
        font-size: .9rem;
    }
}